.Footer{
   text-align: center;
   background-color:#333333;
   color: antiquewhite;
   font-weight: bold;
   height: 40px;
   
}

.Footer div{
   margin-left: 20%;
   width: 60%;
   display: grid;
   grid-auto-flow:column;
   justify-content:space-around;
}

