.Sectiontwo{
    background-color: aqua;
    width: 100%;
    height: 480px;
}


.Sectiontwo section{
    display: flex;
    padding: px;
    justify-content: space-around;
}

section img{
    width: 310px;
    height: 370px;
    
    
}






