.Sectiontwo{
    background-color: aqua;
    width: 100%;
}


section{
    display: grid;
    grid-auto-flow:column;
    justify-content:space-around;
    
    
}


section img{
    width: 200px;
    height: 200px;
    
    
}






